includes:
    - vendor/larastan/larastan/extension.neon
    - vendor/phpstan/phpstan-phpunit/extension.neon
    - vendor/phpstan/phpstan-phpunit/rules.neon

parameters:
    level: 8
    paths:
        - database
        - src
        - tests
    tmpDir: build/phpstan
    treatPhpDocTypesAsCertain: false
